@{
    ViewBag.Title = "Add Exercise";
}

<div class="mt-3">
    <h1 class="text-center mb-3 mb-lg-5">Add Exercise</h1>

    @Html.Partial("_ExerciseAddEdit")

</div>

@section Scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

