@{
    ViewBag.Title = "Edit";
}

<h1 class="text-center mb-3 mt-lg-5 mb-lg-5">Edit Exercise</h1>

@Html.Partial("_ExerciseAddEdit")

@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}