@model IEnumerable<GymTrackerShared.Models.Exercise>

@{
    ViewBag.Title = "Exercises";
}

<h2 class="text-center">Exercises</h2>

<ul class="list-unstyled">
    @foreach (var exercise in Model)
    {
        <li class="mb-2">@exercise.DisplayName</li>
    }
</ul>

