@model IEnumerable<GymTrackerShared.Models.Exercise>

@{
    ViewBag.Title = "Exercises";
}

<h1>Exercises</h1>

<form>
    <input class="form-control d-inline" type="text" name="term" placeholder="search" />
    <button type="submit" class="btn btn-primary d-inline"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<div id="exercises" class="row mt-3">
    
</div>

<div></div>

@section Scripts{
    <script src="~/Scripts/load-exercises.js"></script>
}


