@model List<GymTrackerShared.Models.MuscleGroup>

@{
    ViewBag.Title = "Exercises";
}

<h2>@ViewBag.Title</h2>

@foreach(var musclegroup in Model)
{
    <h3>@musclegroup.Name</h3>

    <ul>
        @foreach (var exercise in musclegroup.Exercises)
        {
        <li>
            @Html.ActionLink(exercise.Name, "Detail", "Exercise",
            new { Id = exercise.Id}, new { @class = "exercise"})
        </li>
        }
    </ul>
}

