@model List<GymTrackerShared.Models.Exercise>

@{
    ViewBag.Title = "Exercises";
}

<h2>Exercises</h2>

<ul>
    @foreach (var exercise in Model)
    {
        <li>
            @Html.ActionLink(exercise.Name, "Detail", "Exercise",
            new { Id = exercise.Id })
        </li>
    }
</ul>

