@model GymTrackerShared.Models.Routine

@{
    ViewBag.Title = "Delete Routine";
}

<h1 class="mb-3 mt-lg-5 mb-lg-5">Delete Routine</h1>

<div class="alert alert-danger" role="alert">Are you sure you want to delete @Model.Name?</div>

@using (Html.BeginForm())
{
    @Html.ActionLink("Cancel", "Index", new { @class = "btn btn-outline-default" })

    <button type="submit" class = "btn btn-outline-primary">Yes</button>
}

