@model GymTrackerShared.Models.Routine

@{
    ViewBag.Title = "Detail";
    var orderedExercises = Model.ExerciseDays
        .GroupBy(ed => ed.TrainingDay);
}

<h2 class="routine-header">@Model.Name</h2>

<div class="column">
        @foreach (var trainingDay in orderedExercises)
        {
            <div class="exercises-column">
                <h3>@trainingDay.Key.Name</h3>

                <ul>
                    @foreach (var exercise in trainingDay)
                    {
                        <li>@Html.ActionLink(exercise.Exercise.Name, "Detail", "Exercise",
                           new { Id = exercise.Exercise.Id}, new { @class = "exercise"})</li>
                    }
                </ul>
            </div>
        }
    
</div>

