
body {
    min-height: 100vh;
    font: 400 1rem/1 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-primary {
    background-color: #121061 !important;
}

.bg-secondary{
    background-color: #77acf1 !important;
}



@media screen and (min-width: 640px){
    body{
        font-size: 1.2rem;
    }
    .navbar-brand{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.4rem;
    }

    .navbar-brand {
        font-size: 1.9rem;
    }
}